<div class='radial-modal'>
  <div class='radial-menu-container'>    
    <div class='radial-menu-widget'>
      <div class='center-element'></div>
    </div>
    <canvas class='radial-menu-canvas'></canvas>
  </div>
</div>