<div class="boobastudio-thread__message {{#if (eq message.user 'boobastudio.from')}}boobastudio-thread__message--assistant{{else}}boobastudio-thread__message--user{{/if}}">
    {{#if (eq message.user 'boobastudio.from')}}
    <div class="boobastudio-thread__avatar">
        <em class="cib8-icon icon-boobastudio"></em>
    </div>
    {{/if}}
    <div class="boobastudio-thread__bubble">
        <div class="boobastudio-thread__content cibolauserselect">
            {{{message.message}}}
        </div>
    </div>
    {{#if (eq message.user 'boobastudio.to')}}
    <div class="boobastudio-thread__avatar boobastudio-thread__avatar--user">
        <i class="fas fa-user"></i>
    </div>
    {{/if}}
    {{#if isWritable}}
    <button type="button" class="boobastudio-btn boobastudio-btn--icon boobastudio-btn--ghost boobastudio-btn--danger boobastudio-thread__delete" data-action="removeMessage" data-tooltip="boobastudio.delete" data-id="{{message.id}}">
        <i class="fas fa-trash"></i>
    </button>
    {{/if}}
</div>