<form class="editable flexcol cibola8" autocomplete="off">
    {{> journalEntryPageHeader}}
    {{> modules/cibola8/templates/thread/threadgpt-edit-inner.hbs}}
    {{> journalEntryPageFooter}}
</form>