<div class="flexrow">
    <em class="cib8-icon largecib icon-cibola8" style="flex: 0 0 50px"></em><div class="alignCib"> <b>{{localize to}}</b>: Cibola 8</div>
</div>
<div class="cibolauserselect">
    <p>
        {{{message}}}
    </p>
</div>
