{{!-- PIXI Canvas Wrapper Partial --}}
<div class="boobastudio-canvas-wrapper max100height">
    <div class="imgContext max100height maxHeight90 boobastudio-image-canvas"
        data-image-url="{{image.latestImg}}">
        {{!-- PIXI canvas will be injected here by ImageEditorCanvas --}}

        {{!-- Badges overlay --}}
        <div class="cibolabadges boobastudio-badges">
            <span class="publicelement hidden boobastudio-badge boobastudio-badge--info"
                data-tooltip="boobastudio.tooltip.publicelement">
                <i class="fas fa-share"></i>
            </span>
        </div>

        {{!-- Fallback image (hidden when canvas is active) --}}
        <img class="targetImg max100height boobastudio-main-image boobastudio-canvas-fallback"
            src="{{image.latestImg}}" />
    </div>

    {{> modules/boobastudio/templates/bothgen/overlay-toolbar.hbs}}
</div>
