<div class="form-group">
    <label>{{localize 'boobastudio.fields.input_audio'}}</label>
    <div class="form-fields">
        <input type="file" name="input_audio_file" accept="audio/*">
    </div>
    <p class="notes">{{localize 'boobastudio.hints.sts_upload'}}</p>
</div>
