<div class="flexrow cibola8-mt-2">
    <button type="button" class="cibola8-btn cibola8-btn--primary" data-action="tts" data-tooltip="cibola8.spinner">
        <i class="fas fa-play"></i>
        {{localize 'cibola8.musicgen.tts'}}
    </button>
</div>
