<div class="flexrow boobastudio-mt-2">
    <button type="button" class="boobastudio-btn boobastudio-btn--primary" data-action="tts" data-tooltip="boobastudio.spinner">
        <i class="fas fa-play"></i>
        {{localize 'boobastudio.musicgen.tts'}}
    </button>
</div>
