<table class='vectorfiles'>
  <thead>
    <tr>
      <th><b>{{localize 'cibola8.vector.filename'}}</b></th>
      <th><b>{{localize 'cibola8.vector.status'}}</b></th>
      <th><a data-action="refreshVectors" data-tooltip="cibola8.vector.refresh"><i class="fas fa-repeat"></i></a></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>