<div>
    {{{localize 'cibola8.vector.uploadFile'}}}
    <div class="form-group">
        <label>{{localize 'cibola8.vector.selectFile'}}</label>
        <div class="form-fields">
            <input name="file" type="file" class="fileInput" accept="text/plain,text/csv,application/json,application/pdf,.docx,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
        </div>
    </div>
    
</div>