<div class="flexrow healthcontainer" data-tooltip="cibola8.health">
    <div class="manapot onBar"></div>
    <div class="progressbar aihealth" style="--width: {{userInfo.health}}" data-label="{{userPercent}}"></div>
</div>
