<div>
  <div class="flexrow">
    <textarea class="stretch textarea cibola8-prompt-textarea" name="command" placeholder="{{localize 'cibola8.promptbuilderhint'}}"></textarea>
  </div>
  <div class="form-group">
    <label>{{localize "cibola8.count"}} <i class="fas fa-exclamation-triangle"></i></label>
    <div class="form-fields">
      <range-picker name="count" value="2" min="2" max="6" step="1"></range-picker>
    </div>
    <p class="hint">{{localize "cibola8.countHint"}}</p>
  </div>
  
</div>