<div class="boobastudio boobastudio-dark-theme standard-form flexcol">
  <div class="boobastudio-intro-text boobastudio-mb-2">
    <i class="fas fa-microphone boobastudio-intro-icon"></i>
    <span>{{localize 'boobastudio.prosemirror.narrationHint'}}</span>
  </div>
  <div class="boobastudio-hint boobastudio-mb-2">
    <i class="fas fa-lightbulb"></i>
    <span>{{localize 'boobastudio.prosemirror.narrationUsage'}}</span>
  </div>
</div>
