<div class="cibola8 cibola8-dark-theme standard-form flexcol">
  <div class="cibola8-intro-text cibola8-mb-2">
    <i class="fas fa-microphone cibola8-intro-icon"></i>
    <span>{{localize 'cibola8.prosemirror.narrationHint'}}</span>
  </div>
  <div class="cibola8-hint cibola8-mb-2">
    <i class="fas fa-lightbulb"></i>
    <span>{{localize 'cibola8.prosemirror.narrationUsage'}}</span>
  </div>
</div>
