<div class="boobastudio-dialog-content">
  <div class="boobastudio-form-group">
    <label class="boobastudio-form-label">
      <i class="fas fa-folder"></i>
      {{localize 'boobastudio.vector.folder'}}
    </label>
    <file-picker name="folder" type="folder" value="{{defaultPath}}" class="boobastudio-file-picker"></file-picker>
  </div>

  <div class="boobastudio-form-group">
    <label class="boobastudio-form-label">
      <i class="fas fa-file"></i>
      {{localize 'boobastudio.vector.filename'}}
    </label>
    <input name="file" type="text" value="{{defaultName}}" class="boobastudio-input" />
  </div>
</div>