<div class="cibola8-dialog-content">
  <div class="cibola8-form-group">
    <label class="cibola8-form-label">
      <i class="fas fa-folder"></i>
      {{localize 'cibola8.vector.folder'}}
    </label>
    <file-picker name="folder" type="folder" value="{{defaultPath}}" class="cibola8-file-picker"></file-picker>
  </div>
  
  <div class="cibola8-form-group">
    <label class="cibola8-form-label">
      <i class="fas fa-file"></i>
      {{localize 'cibola8.vector.filename'}}
    </label>
    <input name="file" type="text" value="{{defaultName}}" class="cibola8-input" />
  </div>
</div>