<div class="flexrow overlaybuttons imageControlContainer">
    {{#if hasParentApp}}<button type="button" data-tooltip="cibola8.describe" data-action="describe" class="smallbutton"><i class="fas fa-vial"></i></button>{{/if}}
    <button type="button" data-tooltip="cibola8.improviseprompt" data-action="improviseprompt" class="smallbutton"><i class="fas fa-wrench"></i></button>
</div>