.system-wfrp4e {
    #chat-controls .control-buttons.withCibola {
        .export-log i {
            right: 15px;
        }

        .cib8-icon {
            right: 15px;
            position: relative;
            top: 5px;
            width: 20px;
            height: 20px;
            line-height: 28px;
        }
    }   
}